name: CI/CD Pipeline K8 Estudo DIO

on:
  push:
    branches: [ "deploy_k8s" ]
  pull_request:

jobs:

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configurar Node
        uses: actions/setup-node@v3
        with:
          node-version: 17

      - name: Instalar dependências
        run: |
          cd app
          npm install

      - name: Rodar testes
        run: |
          cd app
          npm test

  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build da imagem
        run: docker build -t vandoap90/estudo-dio-docker:1.0 .

      - name: Push da imagem
        run: docker push vandoap90/estudo-dio-docker:1.0

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      # Instala o KIND
      - name: Install KIND
        uses: helm/kind-action@v1.8.0

      # Cria o cluster Kubernetes
      - name: Create KIND cluster
        run: |
          kind create cluster --name estudo-dio --wait 60s

      # Mostra informações do cluster
      - name: Cluster info
        run: kubectl cluster-info

      # Aplica o deployment
      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f deployment.yml

      # Verifica os serviços
      - name: Get services
        run: |
          kubectl get services -A

      # Verifica os nodes
      - name: Get nodes
        run: |
          kubectl get nodes -A

      # Verifica os pods
      - name: Get pods
        run: |
          kubectl get pods -A

      # Valida rollout
      - name: Wait for rollout
        run: |
          kubectl rollout status deployment/app